<div class="container">
	<h1>Editing content</h1>

	<div class="btn-group">
		<%= link_to 'Vis', @content, class: 'btn btn-default btn-xs' %>
		<%= link_to 'Tilbage', contents_path, class: 'btn btn-default btn-xs' %>
	</div>

	<%= render 'form' %>
</div>