<div>
	<div>
		<table>
			<thead>
				<tr>
					<th>Navn</th>
				</tr>
			</thead>
			<tbody>
				<% @hours.each do |hour| %>
					<tr>
						<td><%= hour.description %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>

</div>