
	
	<% @month_hours = Hour.customer(hour.relation_id).month_hours(hour.date) %>
	<%# @month_hours = Hour.customer_hours(hour.relation_id, hour.date) %>

	<tr>
		<!-- <th>ID</th> -->
	    <!-- <th>Bruger</th> -->
		<!-- <th><%#= sort_link @q, :relation_company, 'Relation', :default_order => :desc  %></th> -->
	    <th width='245' colspan=1 class='hour_header'>Beskrivelse</th>
	    <th class='center'>Ant.</th>
	    <th class='center'>Dato<%#= sort_link @q, :relation_company_and_date, 'Dato', :default_order => :desc  %></th>
		<th class="center"></th>
	</tr>
	
	<% for hour in @month_hours %>

		<% if session[:hour_id] == hour.id.to_s %>

			<% @hour = hour %>
			<%= render :partial => "hours/partials/hour_edit" %>

		<% else %>	

			<tr>
				<!-- <td class='pos'><%#= hour.id %></td> -->
				<!-- <td class='pos'><%#= User.find(hour.user_id).blogname rescue nil %></td> -->
				<!-- <td><%#= Relation.find(hour.relation_id).company rescue nil %></td> -->
				<td width="70%" colspan=1 class='hour_description'><%= hour.description %></td>
				<td class='center'><%= number_with_delimiter(hour.number, :locale => :da) %></td>
				<td class='center'><%= nice_date(hour.date) rescue nil %></td>
				<td class='center'>
					<%# if current_user.id == hour.user_id %>
						<%#= link_to '[Ret]', edit_hour_path(hour, :relation_id => session[:relation_id], :q => params[:q]) %>
						<%#= link_to '[Slet]', hour, :confirm => 'Er du sikker?', :method => :delete %>
					<%# end %>
					<%#= link_to '[Vis]', hour %>
				</td>
			</tr>

		<% end %>
<% end %>


