<% @link_text = year.to_s + ' - ' + number_with_delimiter(relation.hours.year_hours(year).sum(:number), locale: :da) rescue nil %>	
<tr class="row-fluid">
	<td colspan="12" class="text-left year">
		<%= link_to @link_text, show_months_path(relation_id: params[:relation_id], year: year, q: params[:q]) %>
	</td>
</tr>

<% if relation.id.to_s == params[:relation_id] and params[:year] == year.to_s %>
	<% for month_date in @month_dates %>
		<%= render partial: "hours/partials/months_specified", locals: {relation: relation, year: year, month_date: month_date} %>
	<% end %>
<% end %>