<div class="container">
	
	<div class="btn-group">
		<%= link_to 'Vis', @contact, class: 'btn btn-default btn-xs' %>
		<%= link_to 'Tilbage', contacts_path, class: 'btn btn-default btn-xs' %>
	</div>

	<h3>Ret contact</h3>
	
	<%= render 'form' %>
	
</div>