<% unless @assets.count < 1 #only do this unless @assets is less than 3 %>
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<% @counter_1 = 0 %>
			<% @assets.each do |asset| %>
				<li data-target="#myCarousel" data-slide-to="<%= @counter_1 %>" class=""></li>
			<% @counter_1 = @counter_1 + 1%>
			<% end %>
		</ol>
		<div class="carousel-inner">
			<% @counter_2 = 0 %>
			<% @assets.each do |asset| %>
			<div class="item <%= @counter_2 == 0 ? 'active' : '' %>">
				<%= image_tag(asset.photo.url(:original))%>
				<div class="container">
					<div class="carousel-caption">
						<h3><%= asset.caption %></h3>
						<!-- <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p> -->
						<!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p> -->
					</div>
				</div>
			</div>
			<% @counter_2 = @counter_2 + 1%>
			<% end %>
		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>
<% end %>