<div class="container">
	 <div class="col-sm-offset-2 col-sm-10">
		<h2 class="move-left">
			Upload nyt foto
			<div class="btn-group">
				<%#= link_to 'Vis', @asset, class: 'btn btn-default btn-xs' %>
				<%= link_to 'Tilbage', assets_path, class: 'btn btn-default btn-xs' %>
			</div>
		</h2>
	</div>
	<%= render 'form' %>
</div>