<tr class="row-fluid">
	<td colspan=6 class="text-left hour">
		<%= hour.description %>
	</td>
	<td colspan=3 class='text-center'><%= number_with_delimiter(hour.number, locale: :da) %></td>
	<td colspan=3 class='text-right'><span class="hour_date"><%= nice_date(hour.date) rescue nil %></span></td>
</tr>
