<% @link_text = year.to_s + ' - ' + number_with_delimiter(partner.hours.year_hours(year).sum(:number), locale: :da) rescue nil %>	
<tr class="row-fluid">
	<td colspan="12" class="text-left year">
		<%= link_to @link_text, show_months_path(partner_id: params[:partner_id], year: year, q: params[:q]) %>
	</td>
</tr>

<% if partner.id.to_s == params[:partner_id] and params[:year] == year.to_s %>
	<% for month_date in @month_dates %>
		<%= render partial: "partners/partials/months_specified", locals: {partner: partner, year: year, month_date: month_date} %>
	<% end %>
<% end %>